* {
  box-sizing: border-box;
}

img, canvas {
  display: block;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #0a0a0a;
  min-width: 1280px;
}

#center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  min-height: 920px;
}

#app {
  font-size: 18px;
  line-height: 1.5;
  color: #aaa;
  position: relative;
}

.loading {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 20px solid #111;
  border-top-color: #666;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@import 'footer';
@import 'fonts';