$directions: ('up', 'right', 'down', 'left');

#camera {
  & {
    cursor: none;
  }

  @each $direction in $directions {

    &.cursor-#{$direction} {
      cursor: url("../assets/img/interface/cursor/#{$direction}.png") 22 22, auto;
    }

  }
}
