.hud {
  position: absolute;
  background: #070707;
  color: #aaa;
  padding: 20px;
}

.leftHud {
  composes: hud;
  top: 0;
  left: -180px;
  width: 180px;
}

.dateAndDay {
  margin-bottom: 80px;
}

.date {
  font-size: 24px;
}

.day {
  margin-top: 10px;
  display: flex;
}

.indicator {
  margin-bottom: 40px;
}

.indicator:last-child {
  margin-bottom: 0;
}

.key {
  text-align: right;
  padding: 20px 0 0 0;
}

.iconValues {
  padding: 10px 20px;
}

.key:first-child {
  padding-top: 0;
}

.icon {
  width: 80px;
  height: 80px;
  background-image: url('../../world-map/assets/heading-indicators.png');
}

.iconValue {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.value {
  text-align: right;
  font-size: 36px;
  flex: 1;
}

.rightHud {
  composes: hud;
  left: auto;
  bottom: 0;
  right: -180px;
  width: 180px;
}

.center {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 5px 20px;
}

.center div {
  flex: 1;
  color: #aaa;
  font-size: 24px;
}
