.hud {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../../assets/img/interface/background.png');
  cursor: url('../../assets/img/interface/cursor/normal.png') 16 24, auto;
}

.building {
  position: absolute;
  top: 16px;
  left: 16px;
}

#dialog {
  width: 480px;
  height: 256px;
  top: 0;
  left: 288px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
  color: #000;
}

.option {
  text-align: center;
  color: #000;
  line-height: 32px;
  font-size: 24px;
  margin: 16px 0;
}

.option.active {
  background: #000;
  color: #fff;
}
