* {
  box-sizing: border-box;
}

img, canvas {
  display: block;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #0a0a0a;
  min-width: 1280px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  min-height: 920px;
  @import 'cursor';
}

@import 'footer';
@import 'fonts';